/* Стили для статей в приложении */

.bq-article {
    border: dotted #666 1px;
    border-left: solid #1d4ed8 7px;
    /* margin: 12px 32px; */
    padding: 10px;
    /* color:#345; */
    font-style: italic;
    font-size: 18px;
    /* background:#fcfcfc; */
}
.ul-article {
    /* margin:12px 32px; */
}
.li-article {
    list-style-type: disc;
    padding: 4px;
}