
/* .footer-bg {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    background-position-y: bottom;
    background-attachment: fixed;
    background-image: url('assets/images/footer-bg.png');
} */